.signUp-container {
    margin: auto;
    max-width: 300px;
    padding: 20px;
  }
  .signUp-container h2{
    text-align: center;
  }

  ion-item {
    margin-bottom: 20px;
  }
  

  ion-button {
    --background: #82dbf8; 
    --color: #040404; 
    --border-radius: 10px; 
  }
  