<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <section class="Content">
    <div class="AboutMe">
      <br><br><br><br><br><br><br><br>
      <h1><b>BIANCA SOPHIA</b></h1>
      <h2>Ramos Mangundayao</h2>
      <p>I am 19 years old, currently a second year student taking Bachelor of Science in Information Technology</p>
      <br>
      <h5>Current Hobbies</h5>
      <p>My current hobbies are to watch some movies or vlogs, listen to some music, and I also sing sometimes</p>
      <br>
      <h5>Where do you see yourself in 5 years?</h5>
      <p>I can see myself living independently and achieving my dreams and goals in my dream country.</p>
      <br>
      <h5>Weaknesses</h5>
      <p>My weaknesses are speaking in front of many people and when my pets get sick</p>
      <br>
      <h5>Motto</h5>
      <p>My motto in life is <i>"Don't let your dreams just be a dream"</i></p>
      <br>
      <h5>Love Language</h5>
      <p>Acts of service and Words of affirmation</p>
      <br>
      <h5>Favorite Food</h5>
      <p>Sweet and Sour and Ube</p>
      <br>
      <h5>Pet Peeve</h5>
      <p>Too loud people, especially in public places</p>
      <br><br>
    
    </div>
  </section>
</ion-content>
